.header {
	border-bottom: 3px solid #000;
	display: flex;
	margin-right: auto;
	margin-bottom: 0;
	align-items: center;
}

.logo {
	font-size: 22px;
	font-weight: 700;
	font-family: "Share Tech Mono", monospace;
	letter-spacing: -1px;
}

.menu {
	display: flex;
	text-decoration: none;
	list-style-type: none;
	margin-right: 0;
	margin-left: auto;
}

.menu > li {
	padding-left: 40px;
}