@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
	padding: 1.5em 0 4em 0;
	background-color: #fff3e0;
	font-family: "Jost", sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.content {
	grid-column: 2/7;
}

