@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
	background-color: #fff3e0;
	font-family: "Jost", sans-serif;
}

h2 {
	text-decoration: underline;
}

main {
	padding: 1.5em 10em 4em 10em;
}

a {
	color: black;
	text-decoration-color: transparent;
	
}

a:hover {
	text-decoration: underline;
	text-decoration-color: orangered;
	text-underline-offset: 2px;
	transition-duration: 0.5s;
}
